div {
  height: 200px;
  width: 24vw;
  background-color: aliceblue;
}
div:hover {
  background-color: aqua;
  transform: rotate(90deg);
  transform: scale(0.5, 0.5);
  transform: translate(39px);
  transform: skew(30deg);
}
